.gridLayout {
  justify-content: flex-start;
  padding: 50px;
}

.spin {
  position: fixed !important;
	top: 50%;
	left: 50%;
  font-size: 48px !important;
}

.emptyList {
  position: fixed;
	top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
}
